h1{
    text-align: center;
    font-family: 'calibri';
    padding:10px;
    margin:10px;
    color: white;
}

img{
    width: 75%;
    height:auto;
    float: left;
}

#notification {
    width: 15%;
    height: auto;
    background-color: lightgrey;
    float: right;
    padding: 10px;
    padding-left: 20px;
    color: blue;
}

#notification a {
    text-decoration: none;
}

#notice {
    margin-left: 50px;
    margin-bottom: 10px;
    display: block;
    text-decoration: underline;
    color: red;
}

#rightSideBar {
    width: 5%;
    height: 400px;
    float: right;
    clear:right;
    color: white;
    font-size: 10px;
}

#rightSideBar img {
    margin: 6px;
}

