h1 School Memories And Honours


span(class="btn"): b Classrooms
span(class="btn"): b Trips
span(class="btn"): b Education

div(id="classroom")
    img(src='image6.jpg')
    img(src='image5.jpg')
    img(src='image6.jpg')
    img(src='image7.jpg')


div(id="trip")
    img(src='image3.jpg')


div(id="education")
    img(src='image2.jpg')


