h1 School Memories And Honours


 h2(onclick="classrooms(this)") classrooms
 h2(onclick="trips(this)") Trips
 h2(onclick="education(this)") Education
 <div class="main">
 img(class="classrooms",src='image6.jpg')
img(class="classrooms",src='image5.jpg')
img(class="classrooms",src='image6.jpg')
img(class="classrooms",src='image7.jpg')
</div>


<div class="main">
img(class="trips",src='image3.jpg')
</div>


<div class="main">
img(class="education",src='image2.jpg')
</div>


