
div(class="navbar")
  a(href="#home") Home
  a(href="#news") Image
  a(href="#news") Admission
  div(class="dropdown")
    button(class="dropbtn") Login
      i(class="fa fa-caret-down")

    div(class="dropdown-content")
      a(href="#") Students
      a(href="#") Parents
      a(href="#") Teachers
      a(href="#") Librarin
      a(href="#") Admin.


